/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: 'Roboto', sans-serif;
   background: #c6f7e6;
   margin: 0;
 }

 .main {
   width: 90%;
   margin: 40px auto;
 }

 .register-container {
   width: 90%;
   max-width: 400px;
   margin: 0 auto;
   background: #e8eaf6;
   padding: 2rem;
   box-shadow: 0 0 15px darkgrey;
 }

.employee-input {
  text-align: center;
}

.employee-input input {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  padding: 5px 1rem;
  line-height: 2.2rem;
  margin: 10px 0;
  width: 100%;
  border: none;
}

.employee-input h2 {
  margin: auto;
  font-size: 1.3rem;
}

input[type=submit] {
  box-sizing: border-box;
  padding: 4px 0;
  width: 100%;
  fill: darkgrey;
}

.flash-box{
  margin: 20px auto;
  width: 600px;
  min-height: 70px;
}
.flash-box.notice{
  color: #3c763d;
  background-color: #dff0d8;
  border: #d6e9c6 2px solid;
  border-radius: 10px;
}
.flash-box.alert{
  color: #a94442;
  background-color: #f2dede;
  border: #ebccd1 2px solid;
  border-radius: 10px;
}


.header {
  position: relative;
  background: #2be6aa;
  padding: 5px 20px;
  height: 100px;
  width: 100%;
}

.logo {
  padding: 0 0 0 5%;
}

.header h1 {
  position: absolute;
  color: white;
  top: 20%;
  left: 20%;
  font-size: 1.7em;
}

.logged-in-tag {
  position: absolute;
  right: 20%;
  bottom: 10%;
}

.burger-container {
  position: absolute;
  right: 10%;
  top: 10px;
  z-index: 11;
}

.bar {
  height: 8px;
  width: 70px;
  margin: 15px 0;
  background-color: white;
  transition: .2s;
}

.bar-top {
  transform: rotate(45deg) translate(12px, 6px);
}

.bar-middle {
  display: none;
}

.bar-bottom {
  transform: rotate(-45deg) translate(10px,-5px);
}

.nav-wrap {
  height: 100%;
  background-color: #7feec8;
  position: fixed;
  top: 0;
  right: -295px;
  width: 280px;
  z-index: 10;
  transition: .25s;
  box-shadow: 0 0 15px 2px grey;
}

.slide {
  right: 0px;
}

.nav-list {
  list-style: none;
  margin-top: 100px;
}

.menu-link {
  padding: 15px 5px;
  color: white;
  text-decoration: none;
  display: block;
  margin: 15px 0;
  text-align: left;
  font-size: 1.2em;
}

.logout-link {
  font-size: 1.6em;
  font-weight: bold;
}

img{
  position: absolute;
  left: 2.5%;
  top: 15px;
  height: 80px;
}
