/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

 /*:root {
   --header-color: #2be6aa;
   --background-color: #c6f7e6;
   --form-color: #e8eaf6;
   --submit-button: darkgrey;
 }*/

 :root {
   --header-color: transparent;
   --background-color: #333;
   --form-color: #e8eaf6;
   --submit-button: darkgrey;
   --text: #333 ;
 }

 body {
   font-family: 'Roboto', sans-serif;
   background: var(--background-color);
   margin: 0;
   padding: 0;
   width: 100%;
   color: var(--text);
 }

 h1 {
   font-size: 1.7em;
 }

 h2 {
   font-size: 1.4em;
 }

 li {
   list-style: none;
 }

 .main {
   width: 90%;
   max-width: 650px;
   margin: 40px auto;
 }

 .register-container {
   max-width: 400px;
   margin: 0 auto;
   background: var(--form-color);
   padding: 2rem;
   box-shadow: 0 0 15px darkgrey;
 }

.employee-input {
  text-align: center;
}

.employee-input input {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  padding: 5px 1rem;
  line-height: 2.2rem;
  margin: 10px 0;
  width: 100%;
  border: none;
}

input[type=submit] {
  box-sizing: border-box;
  padding: 4px 0;
  width: 100%;
  fill: var(--submit-button);
}

.flash-box{
  margin: 20px auto;
  width: 90%;
  max-width: 300px;
  min-height: 70px;
}
.flash-box.notice{
  color: #3c763d;
  background-color: #dff0d8;
  border: #d6e9c6 2px solid;
  border-radius: 10px;
}
.flash-box.alert{
  color: #a94442;
  background-color: #f2dede;
  border: #ebccd1 2px solid;
  border-radius: 10px;
}


.header {
  position: relative;
  background: var(--header-color);
  padding: 5px 20px;
  height: 100px;
}

.logo {
  padding: 0 0 0 5%;
}

.title-name {
  position: absolute;
  color: white;
  top: 20%;
  left: 20%;
}

.logged-in-tag {
  position: absolute;
  right: 20%;
  bottom: 10%;
}

.burger-container {
  position: absolute;
  right: 5%;
  top: 10px;
  z-index: 11;
}

.bar {
  height: 8px;
  width: 70px;
  margin: 15px 0;
  background-color: white;
  transition: .2s;
}

.bar-top {
  transform: rotate(45deg) translate(14px, 9px);
}

.bar-middle {
  display: none;
}

.bar-bottom {
  transform: rotate(-45deg) translate(6px,-3px);
}

.nav-wrap {
  height: 100%;
  background-color: #7feec8;
  position: fixed;
  top: 0;
  right: -295px;
  width: 280px;
  z-index: 10;
  transition: .25s;
  box-shadow: 0 0 15px 2px grey;
  overflow: hidden;
}

.slide {
  right: 0px;
}

.nav-list {
  list-style: none;
  margin-top: 100px;
}

.menu-link {
  padding: 15px 5px;
  color: white;
  text-decoration: none;
  display: block;
  margin: 15px 0;
  text-align: left;
  font-size: 1.2em;
}

.logout-link {
  font-size: 1.6em;
  font-weight: bold;
}

img{
  position: absolute;
  left: 2.5%;
  top: 15px;
  height: 80px;
}

/*******************MEDIA QUERIES*********************/
/*small phone*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .main {
    margin: 20px auto;
  }

  input {
    border: 1px solid grey;
  }

  .title-name,
  .log-large {
    display: none;
  }
}
