// Place all the styles related to the parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clipboard {
  width: 100%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 15px darkgrey;
}

.list-container {
  padding-top: 20px;
}

.list-container h2 {
  padding: 15px 0;
}

.header-row {
  font-size: 1.2em;
}

.header-th {
  padding-bottom: 10px;
}

.inventory-table, .inventory-th {
  border-collapse: collapse;
}

tr {
  border-top: 2px solid rgba(128,128,128, .3);
  border-bottom: 2px solid rgba(128,128,128, .3);
}

.header-row {
  border-top: none;
}

.inventory-th {
  // box-shadow:
  //       inset 0px 11px 8px -10px grey,
  //       inset 0px -11px 8px -10px grey;
  line-height: 40px;
}

.inventory-tr {
  background-color: #ededed;
}

.inventory-tr:hover {
  background-color: powderblue;
  font-style: italic;
}

/*small phone*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .header-row {
      font-size: 1em;
    }


}
