// Place all the styles related to the warehouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .warehouse-index-header-individual {
//   display: block;
//   padding-left: 5%;
// }


.warehouse-index-header {
  text-align: center;
}

.inventory-table {
  width: 80%;
  margin: 0 auto;
}

.inventory-th {
  padding-bottom: 5px;
}

.h2-container {
  position: relative;
  padding-top: 20px;
}
#new-warehouse-button {
  position: absolute;
  top: 0;
  width: 150px;
  right: 5%;
  border: 1px solid grey;
}

.warehouse-container {
  margin-bottom: 30px;
}

.warehouse-container h3 {
  text-align: left;
  display: inline-block;
  margin-left: 10%;
}
