<div class="clipboard">
  <div class="list-container">
    <h2 class="warehouse-index-header">Inventory By Warehouse</h2>

    <% @warehouses.each do |warehouse| %>
    <div class="warehouse-container">
      <h2 class="warehouse-index-header"><%= warehouse.name %></h2>
        <%= render partial: "show", layout: false, locals: { inventory: warehouse.inventory, location: warehouse.name } %>
    </div>
    <% end %>

</div>
</div>
