<div class="clipboard">
  <div class="list-container">
    <div class="h2-container">
      <h2 class="warehouse-index-header">Inventory By Warehouse</h2>
    <%= link_to "Add New Warehouse", action: "new", id:'new-warehouse-button' %>
    </div>
    <% @warehouses.each do |warehouse| %>
    <div class="warehouse-container">
      <h3 class="warehouse-index-header"><%= warehouse.name %></h2>
        <%= render partial: "show", layout: false, locals: { inventory: warehouse.inventory, location: warehouse.name } %>
    </div>
    <% end %>

</div>
</div>


<!-- <button id="new-warehouse-button" type="submit">Create A New Warehouse</button> -->
